<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>rooms</title>
</head>
<body>
  <!--  header  -->
  <h1>SpringTalk</h1>

  <!-- room list -->
  <th:block th:each="message : ${messages}">
    <p class="messages"><a th:href= "@{'/room/' + ${message.roomId}}" th:text="${message.getText()}"></a></p>
  </th:block>

  <!-- create form -->
  <!-- temporary comment out
  <p>Create a New Room</p>
  -->
	<form th:action="@{/rooms}" th:object="${roomsForm}" method="post">
    <textarea cols="30" rows="3" th:field="*{text}"></textarea>
	  <p><input type="submit" value="Submit" /></p>
	</form>

</body>
</html>